.registerForm{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #000000;
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
    color: white;
}

.registerForm>h1, p{
    margin-bottom: 20px;
    
}

.logotipoForm {
    height: 250px;
    margin-bottom: 0;
}

label{
    align-self: flex-start;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 5px;
}

input{
    width: 470px;
    align-self: flex-start;
    margin-left: 60px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #B5944C;
    padding: 5px;
    font-size: 16px;
}

.registerButton{
    margin-top: 20px;
    width: 300px;
}