.navBarUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #000000;
    height: 80px;
    color: white;
    padding: 15px;
}

.iconoPerfil, .iconoCerrarSesion{
    height: 45px;
    width: 45px;
}

.seccionInfoUsuario{
    width: 1500px;
    height: 80px;
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
}